canvas {
    width: 100%;
    /* default graph size, custom size to be added */
    max-width: 310px;
}

.card {
    padding: 15px;
}

.card-body {
    padding: 16px 16px 0;
}

.card-body h6 {
    text-align: center;
}

canvas#piechart_gradescience {
    margin: auto;
    max-width: 162px;
}

#table-graph th, #table-graph td {
    border-width: 1px;
}