#tablet, #mobile {
    display: none;
}

/* This condition activates when preview screen is shorter than given max width. */
/* This is exclusive for tablets */
@media screen and (max-width: 768px) {
    #PC, #mobile {
        display: none;
    }

    #tablet {
        display: block;
    }

    button.tablet {
        display: block;
        width: 100%;
        margin: 5px auto;
        /* to fix some misaligned text */
        padding: 10px;
    }
}

/* This condition activates when preview screen is shorter than given max width. */
/* This is generally for most smartphones */
@media screen and (max-width: 479px) {
    #PC, #tablet {
        display: none;
    }

    #mobile {
        display: block;
    }

    .center {
        margin: auto;
        width: 100%;
    }

    button.mobile {
        display: block;
        width: 100%;
        margin: 5px auto;
        /* to fix some misaligned text */
        padding: 10px;
    }

    .line_break {
        white-space: initial;
    }

    table#post th:nth-child(3), table#post td:nth-child(3), col#description {
        display: none;
    }

    col#date {
        width: 30%;
    }

    #roster {
        width: 95vw;
    }
}

section {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.bg-custom {
    background-color: #D9D9D9;
}

.navbar-brand {
    width: 90px;
    height: auto;
}

.center {
    margin: auto;
    width: 45%;
}

table#post {
    width: 100%;
    table-layout: fixed;
}

/* select <table id="post"> and all its child elements */
table#post, table#post th, table#post td {
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: #f2f2f2;
}

table#post col#date {
    width: 15%;
}

table#post col#title {
    width: 30%;
}

/* col#description takes up the rest of the width */

table#post col#action {
    width: 13%;
}

button.crud {
    float: right;
    width: 100px;
}

#form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    text-align: right;
}

.login-field {
    background-color: lightblue;
    border: none;
}

#corner {
    align-self: flex-end;
}

#roster {
    overflow-x: auto;
}

#roster table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

#roster th, #roster td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

#roster th {
    position: sticky;
    top: 0;
}

.img-btn img {
    max-width: 30px;
    height: auto;
}

a.img-btn {
    text-decoration: none;
}

.close {
    float: right;
}

footer {
    text-align: center;
}

/* footer will always attach to bottom of screen */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}