#mobile {
    display: none;
}

/* This condition activates when preview screen is shorter than given max width. */
@media screen and (max-width: 479px) {
    #PC {
        display: none;
    }

    #mobile {
        display: block;
    }

    .center {
        margin: auto;
        width: 100%;
    }
}

section {
    margin: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar.bg-custom {
    background-color: #D9D9D9;
}

.navbar-brand {
    width: 90px;
    height: auto;
}

.center {
    margin: auto;
    width: 45%;
}

footer {
    text-align: center;
}